<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Debt Graph</h1>
            <p class="lead">Your personal assistant for debt tracking in your workgroup</p>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
